// 颜色
$accentColor = #ECC68B;
$textColor = #4C506D;
$borderColor = #E6E1D7;
$codeBgColor = #fafafa;
$arrowBgColor = #D4A46F;
$badgeTipColor = #C1C19C;
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// 布局
$navbarHeight = 4rem;
$sidebarWidth = 15rem;
$contentWidth = 900px;
$homePageWidth = 1000px;

.theme-default-content pre code, .theme-default-content pre[class*='language-'] code {
  color: #476582;
}
